.blue {
    background: #01D1FF;
}

.news {
    /*box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(12, 9, 9, 0.98);*/
       
    overflow: hidden;
    border-radius: 4px;
    -webkit-user-select: none;
}

.news span {
    float: left;
    color: #363c4a;
    padding: 3px;
    position: relative;
    top: 1%;
    box-shadow: inset 0 -15px 30px -18px rgba(0, 0, 0, 0.96);
    font: 16px 'Raleway', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    cursor: pointer;
}

.text1{

 box-shadow:none !important;
    width: 1000px;
}